<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page" >Configuration</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/entity'" class="nav-link" >Entity Extraction</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/text'" class="nav-link" >Text Similarity</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/language'" class="nav-link" >Language Detection</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/sentiment'" class="nav-link" >Sentiment Analysis</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/history'" class="nav-link" >History</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
