<h1>Entity Extraction page</h1><br><br>
<textarea [(ngModel)] = "text"></textarea><br>
<p>Min confidence</p>
<label>0</label>
<input type="range" min="0" max="1" step="0.1" [(ngModel)] = "minConfidence"/>
<label>1</label><br><br>
<input type="checkbox" name="" [(ngModel)] = "image"/>
<label class="me-3">image</label>
<input type="checkbox" [(ngModel)] = "abstract"/>
<label class="me-3">abstract</label>
<input type="checkbox" [(ngModel)] = "categories"/>
<label>categories</label><br><br>
<button (click) = "getEntity()">Extract Entities</button> <br>
<ul>
<li *ngFor="let listElement of listLabel; let i = index;">
  {{listElement}}
</li>
</ul>
<ul>
  <li *ngFor="let listElement of listImage; let i = index;">
    <img src="{{listElement}}" alt="" style="height: 300px;width: 300px;">
  </li>
</ul>
<ul>
  <li *ngFor="let listElement of listAbstract; let i = index;">
    {{listElement}}
  </li>
</ul>
<ul>
  <li *ngFor="let listElement of listCategories; let i = index;">
    {{listElement}}
  </li>
</ul>

